<footer class="footer">
    <div>
        <div class="container">
            <div class="text-center">
                    <p><%= gt.gettext('Copyright © SmartlingHotels 2016') %></p>
            </div>
        </div>
    </div>
</footer>