<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <% include ../partials/head.ejs %>
    <% include ../partials/opengraph.ejs %>

    <title> | SmartlingHotels</title>

</head>
</html>