<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <% include ../partials/head.ejs %>
    <% include ../partials/opengraph.ejs %>

</head>
<body>

<% include ../partials/pageheader.ejs %>

<div class="container-fluid h1">
    <%= gt.gettext('Sorry, but something appears to have gone wrong. Please try again or contact our support team for assistance.') %>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>