<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>

    <script>
        $(document).ready(function () {
            $('#returnToSearch').remove();
            $('#selector').on("change", function () {
                var str = $('#selector').val();
                $('#findHotels').prop("href", "/browse/" + str);
            });
        });
    </script>

</head>
<body>

<% include ../partials/pageheader.ejs %>
<% var hotel = {"prevLink": ""} %>
<% include ../partials/browse_form.ejs %>

<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="h1 col-md-8">
                <%= sprintf(gt.gettext('Showing hotels located in \"%s\"'), city) %>
            </div>
            <div class="h1 col-md-3 col-md-offset-1 text-right">
                <small><%= sprintf(gt.ngettext('%d of %d result shown.', '%d of %d results shown.', results, results),
                            results, results) %></small>
            </div>
        </div>
    </div>
    <hr>
    <!-- /.row -->
    <div class="row">
        <div class="h1 text-center">
            <%= gt.gettext('We are sorry, but we could not find any hotels in the location that you selected. Please try revising your search.') %>
        </div>
    </div>

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
