<!DOCTYPE>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <% include ../partials/head.ejs %>
    <% include ../partials/opengraph.ejs %>
</head>

<body>
<% include ../partials/pageheader.ejs %>

<div class="container-fluid">
    <div style="font-size: 200%">
        <p> <%= gt.gettext('We strive to ensure that our customers are 100% satisfied. However, we understand that some customers may not be satisfied with the services that we provide.') %> </p>
        <p> <%= gt.gettext('That being said, we welcome unsatisfied customers to voice any issues or suggestions with us, so we can improve both our company and the effectiveness of our services. ') %></p>
    </div>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>

